@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.woff2') format('woff2')
}

body {
    font-family: Inter, Circular, Arial, sans-serif;
    color: #edf2f4;
    background-color: #2b2d42;
}

* {
    color: white;
}

a {
    text-decoration: none;
}


/* topnav styles */

#topnav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 8px;
    align-items: center;
    padding: 20px;
    height: 30px;
    background-color: #1a1c2c;
    border-radius: 10px;
}

.noselect {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

.top-button {
    background-color: #EF233C;
    padding: 10px;
    font-size: 100%;
    border-radius: 5px;
    box-shadow: 0 3px 0 0 #A30000;
    user-select: none;
    -webkit-user-select: none;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.top-button:not(.active):hover {
    background-color: #d90429;
    box-shadow: none;
    transform: scale(1.1);
}

.top-button:not(.active):active {
    box-shadow: none;
    transform: initial;
}

@media screen and (max-width: 770px) {
    .top-button {
        font-size: 90%;
        padding: 7px;
    }

    #topnav-heading {
        font-size: 90%;
    }
}

.top-button.active {
    background-color: #669bbc;
    box-shadow: none;
    cursor: not-allowed;
}


@media screen and (max-width: 690px) {
    .top-button {
        font-size: 80%;
        padding: 5px;
    }

    #topnav-heading {
        font-size: 80%;
    }
}


/* cookies styles */

#cookie-banner {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1a1c2c;
    padding: 10px;
    text-align: center;
}

#cookie-banner-accept {
    background-color: #4CAF50;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}