@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.woff2') format('woff2')
}

body {
    font-family: Inter, Circular, Arial, sans-serif;
    color: #edf2f4;
    background-color: #2b2d42;
}

* {
    color: white;
}

a {
    text-decoration: none;
}