#indexTitle {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1A1C2B;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color: #EDF2F4;
    z-index: 5;
    animation: title 3s ease-in-out forwards;
    pointer-events: none;
}

html {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    height: 100%;
}

#page-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 20px;
}

.page {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    border: solid 3px white;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.page h1 {
    margin: auto;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: white;
    transform-origin: bottom;
    transition: transform 0.25s ease-out;
}

.page:hover > .hover-underline-animation::after {
    transform: scaleX(1);
    transform-origin: bottom;
}

@keyframes title {
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 1;
        left: 50%;
    }
    to {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}