#indexTitle {
    position: fixed;
    top: 10px;
    left: 30px;
    background: #8D99AE;
    padding: 10px;
    border-radius: 10px;
    color: #EDF2F4;
}

html {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    height: 100%;
}

#frame-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 20px;
}

.item {
    flex-basis: 0;
    flex-grow: 1;
    border: solid 5px white;
    border-radius: 20px;
}

iframe {
    overflow: hidden;
}

#overlay-container {
    position: absolute;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 20px;
}

.overlay {
    flex-basis: 0;
    flex-grow: 1;
    border-radius: 20px;
}