h1 {
    margin: 0;
}

/* basic flexbox structure */
#line-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
    height: 100%;
    width: 100%;
}

.item-container {
    display: flex;
    gap: 20px;
    flex-basis: 0;
    flex-grow: 1;
    flex-direction: row;
    text-align: center;
}

.item {
    flex-basis: 0;
    flex-grow: 1;
    border-radius: 20px;
    background-color: #17151D;
    padding: 35px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    font-stretch: 150%;
}

.item h1 {
    font-size: 20px;
    font-weight: 600;
    font-stretch: 100%;
    margin-bottom: 15px;
}

/* adding generic properties to .item h1:before */
/* making the content of ::before go above the root element */
.item h1::before {
    top: -1em;
    display: block;
    margin-bottom: 15px;
    width: 30px;
    height: 30px;
    background: radial-gradient(#787878, #424242);
    border-radius: 16px;
    padding: 15px;
}

.item p {
    color: #CCCCCC;
    margin: 0;
}

.line1-item {
    flex-grow: 3;
}

.line1-item:nth-child(1) h1::before {
    content: url("../svg/data.svg");
}

.line1-item:nth-child(2) {
    flex-grow: 2;
}

.line1-item:nth-child(2) h1::before {
    content: url("../svg/company.svg");
}

.line1-item:nth-child(3) h1::before {
    content: url("../svg/monopoly.svg");
}

.line2-item {
    flex-grow: 2;
}

.line2-item:nth-child(1) h1::before {
    content: url("../svg/interoperability.svg");
}

.line2-item:nth-child(2) h1::before {
    content: url("../svg/ai.svg");
}

.line2-item:nth-child(3) {
    flex-grow: 3;
}

.line2-item:nth-child(3) h1::before {
    content: url("../svg/ux.svg");
}

.line3-item:nth-child(1) h1::before {
    content: url("../svg/marketing.svg");
}

.line3-item:nth-child(2) h1::before {
    content: url("../svg/rocket.svg");
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: white;
    transform-origin: bottom;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom;
}