#line-container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.texte {
    background-color: #17151D;
    border-radius: 20px;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #CCCCCC;
}

.texte h1 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

#cookie-banner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1a1c2c;
    padding: 10px;
    text-align: center;
}

#cookie-banner-accept {
    background-color: #4CAF50;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}