#line-container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.texte {
    background-color: #17151D;
    border-radius: 20px;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #CCCCCC;
}

.texte h1 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: white;
    transform-origin: bottom;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom;
}