#topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 30px;
    background-color: #1a1c2c;
    border-radius: 10px;
}

.noselect {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

.top-button {
    background-color: #EF233C;
    padding: 10px;
    font-size: 100%;
    border-radius: 5px;
    box-shadow: 0 3px 0 0 #A30000;
    user-select: none;
    -webkit-user-select: none;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.top-button:not(.active):hover {
    background-color: #d90429;
    box-shadow: none;
    transform: scale(1.1);
}

.top-button:not(.active):active {
    box-shadow: none;
    transform: initial;
}

@media screen and (max-width: 770px) {
    .top-button {
        font-size: 90%;
        padding: 7px;
    }

    #topnav-heading {
        font-size: 90%;
    }
}

.top-button.active {
    background-color: #669bbc;
    box-shadow: none;
    cursor: not-allowed;
}


@media screen and (max-width: 690px) {
    .top-button {
        font-size: 80%;
        padding: 5px;
    }

    #topnav-heading {
        font-size: 80%;
    }
}